/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --background-image-url: url(../images/cover-image-dark.png);
  --page-paddings: 10px;
  --bg-color: #000839;
  --primary-text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-color-text: #DB00FF;
  --title-decore-text-color: #000028;
  --hover-color-button: rgb(255, 0, 112, 0.5);
  --active-color-button: #FF0070;
  --text-size: 1.125rem;
}

.theme-dark .advices__title {
  color: var(--accent-color, #FF0070);
}

.theme-dark .header__decorate {
  display: block;
}