/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image-url: url(../images/cover-image-light.png);
  --bg-color: #F1B2CE;
  --primary-text-color: #353430;
  --accent-color: #FF8DCB;
  --title-color-text: #FFC2E6;
  --title-decore-text-color: #353430;
  --hover-color-button: rgb(53, 52, 48, 0.5);
  --active-color-button: #353430;
  --text-size: 1.125rem;
}

.theme-light .advices__title {
  color: var(--title-decore-text-color, #353430);
}

.theme-light .header__decorate {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {   
    --background-image-url: url(../images/cover-image-light.png);
    --bg-color: #F1B2CE;
    --primary-text-color: #353430;
    --accent-color: #FF8DCB;
    --title-color-text: #FFC2E6;
    --title-decore-text-color: #353430;
    --hover-color-button: rgb(53, 52, 48, 0.5);
    --active-color-button: #353430;
    --text-size: 1.125rem;
  }

  .advices__title {
    color: var(--primary-text-color, #353430);
  }

  .header__decorate {
    display: none;
  }
}